.home-main {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home-main-text {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    
}


#home-intro-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.home-main-title {
    margin-top: 18%;
    font-size: 44px;  
    color: white;
    font-weight: bold;
}

.home-main-subtitle {
    padding: 10px;
    color: white;
    width: 42vw;
    margin-left: 410px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

.home-main-icon {
    height: 80px;
    width: 80px;
    margin-top: 200px;
}
.home-whatsankr {
    border: 10px solid white;
    height:85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-whatsankr-logo {
    width: 50vw;
    height: 80vh;
}

.home-whatsankr-title {
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
}

.home-whatsankr-text {
    text-align: left;
    padding: 5px;
}

.home-whyankr {
    height: 80vh;
    background: url('../images/exp-bg.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-whyankr-title {
    margin-bottom: 20px;
    font-weight: bold;
}

.home-whyankr-text {
    display: flex;
    align-items: center;
    border: 10px white;
    margin-top: 50px;
}

.home-whyankr-bracket {
    width: 150px;
    height: 150px;
}

.home-usecases {
    border: 10px solid white;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.home-usecases-title {
    text-align: left;
    margin-bottom: 14%;
}

.home-usecases-list {
    margin: 0px;
    padding: 0px;
    line-height: 80px;
    text-align: left;
    font-size: 20px;
}

.home-roadmap {
    border: 10px solid #2a8bcb;
    height: 70vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    background: #2a8bcb;
}