.about {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*Style 1st change-world part*/
.change-world {
    background-image: url('../images/world-bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin-top: 45px;
    background-size: cover;
}

.change-world h3 {
    margin-top: 100px;
}

.change-world .divider {
    margin: 0 auto 7rem;
}

.change-world p {
    font-family: Asap,sans-serif;
    font-weight: 500;
    font-size: 2rem;
    max-width: 94rem;
    margin: 0 auto 6rem;
    line-height: 2;
}

.change-world-pics {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.change-world-pics-img-brac {
    width: 50%;
    height: auto;
}

.change-world-pics-img-e {
    width: 20%;
    height: auto;
    margin-left: -35%;
}

.change-world-pics-item h6 {
    width: 30%;
    margin-left: 42%;
    margin-top: 5%;
}

.change-world-pics-desc {
    font-family: Asap,sans-serif;
    font-size: 1.4rem;
    line-height: 1.7;
    text-align: center;
    width: 75%;
    margin-left: 17%;
}

.change-world-pics-item-divider {
    width: 10%;
    height: 2px;
    margin-top: 6%;
    background: #c1e0f4;
}

/*Style 2nd our-story part*/
.story {
    width: 100%;
    background: #f0faff;
}

.story__title {
    margin-top: 10rem;
}

.story__title .divider {
    margin: 3rem 3.5rem 3rem;
}

.story__title h2 {
    margin-left: 1em;
}

.story__body {
    margin-bottom: 5rem;
}

.story__body p {
    text-align: left;
    font-weight: 200;
    display: block;
    margin-left: 1em;
    margin-right: 1em;
}

.story-right-sign {
    display: flex;
    flex-direction: row;
    //height: 15rem;
}

.story-right-sign-left {
    display: block;
    margin-left: 2rem;
    text-align: left;
}

.story-right-sign-left h5 {
    display: block;
    margin-top: 3.5rem;
}

.story-right-sign-left-desc {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #2a8bcb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.1rem;
    line-height: 1;
    white-space: nowrap;
    margin-top: -1.8rem;
}

.story-ankr-logo {
    margin-right: 1.6rem;
    max-width: 1.5rem;
}

.story-right-sign-left-title {
    margin-left: -.5rem;
    color: #2a8bcb;
}

.signature-song {
    width: 50%;
    height: auto;
    margin-left: 10rem;
}


/*Style 3rd Core Team part*/
.core-team {
    display: flex;
    flex-direction: column;
}

.core-team h2 {
    text-align: center;
    margin-top: 10rem;
}

.core-team .divider {
    margin: .5rem auto 5rem auto;
}


/*Style 4th BackBy part*/
.backed-by {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgb(42, 139, 203) 0px, rgb(53, 173, 221) 100%);
}

.backed-by h2 {
    font-family: Asap,sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    color: #fff;
    margin-top: 2.6em;
}

.backed-by-svg {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3%;
    justify-content: flex-start;
}

.backed-by-svg svg {
    fill: #fff;
    width: 60%;
    height: 7em;
    border: 1px solid #fff;
}

.backed-by-svg svg:hover {
    background-color: #fff;
}

.backed-by-svg svg:hover path {
    fill: #2a8bcb;
}

/*Style 5th Benefits*/
.benefits {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.benefits-title h2 {
    font-family: Asap,sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 2em;
    text-align: left;
    margin-left: 10%;
}

.benefits-title-divider {
    width: 8%;
    height: 5px;
    background-image: linear-gradient(90deg, rgb(53, 173, 221) 0px, rgb(61, 70, 153) 100%);
    margin-top: 2%;
    margin-bottom: 1em;
    margin-left: 10%;
}

.benefits-items {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 3%;
    justify-content: space-evenly;
}

.benefits-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
}

.benefits-item span {
    font-size: 2.4em;
    color: #2a8bcb;
    margin-right: 1em;
    margin-left: 6px;
    font-weight: 300;
}

.benefits-item strong {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 700;
}

.benefits-item-divider {
    height: 1px;
    background-image: linear-gradient(90deg,rgb(61, 70, 153) 0px, rgb(53, 173, 221) 100%);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.benefits-item p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2;
}

/*Style Opens part*/
.opens {
    width: 100%;
    height: 800px;
    background: #f2fbff;
}

.opens h2 {
    font-family: Asap,sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 2em;
    text-align: left;
    margin-left: 10%;
}

.opens-divider {
    width: 8%;
    height: 5px;
    background-image: linear-gradient(90deg, rgb(53, 173, 221) 0px, rgb(61, 70, 153) 100%);
    margin-top: 2%;
    margin-bottom: 1em;
    margin-left: 10%;
}

.opens-title-divider {
    height: 3px;
    background: #bad9f2;
    margin-left: 9%;
    margin-right: 10%;
}











